/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: sans-serif;
}

.container {
  width: 90vw;
  margin-block: 120px;
  margin-inline: auto;
}

.border-line {
  border-bottom: 3px solid rgb(0, 60, 255);
  padding-bottom: 8px;
}

.vStack {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hStack {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

img {
  width: 100%;
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.transition {
  transition: all 0.5s ease;
}

.jCenter {
  justify-content: center;
}
.iCenter {
  align-items: center;
}

.d-flex {
  display: flex;
}

.gray {
  color: gray;
}

.gap1 {
  gap: 10px;
}
.gap2 {
  gap: 20px;
}
.gap3 {
  gap: 30px;
}
.gap4 {
  gap: 40px;
}
.gap5 {
  gap: 50px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.wFull {
  width: 100%;
}

.bg1 {
  background-color: rgb(0, 60, 255);
}
.bg2 {
  background-color: #f2f4f4;
}
.btn {
  border-radius: 50px;
  padding: 12px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
}
.btn1 {
  border: 1px solid rgba(194, 192, 192, 0.8);
}
.btn:hover {
  border: 1px solid rgb(136, 134, 134);
}

.btn2 {
  background: #384aeb;
  border: 1px solid transparent;
  color: #fff;
}

.btn2:hover {
  border: 1px solid #384aeb;
  background: transparent;
  color: #222;
}
.zIndex {
  z-index: 10;
}

p {
  line-height: 1.667;
  font-size: 15px;
}
/* common css */
/* navbar css */
header {
  z-index: 999;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
}
nav {
  padding-block: 28px;
  padding-inline: 5vw;
}
.responsive-nav.active {
  padding-bottom: 10px;
  height: 300px;
}
.right {
  width: 250px;
  justify-content: space-between;
}
.bars {
  gap: 5px;
  top: 30px;
  right: 50px;
}
.bar {
  height: 3px;
  width: 28px;
}
.bar1.active {
  transform: rotate(-45deg) translate(8px, 16px);
}
.bar2.active {
  opacity: 0;
}
.bar3.active {
  transform: rotate(45deg) translate(4px, -19px);
}
.responsive-nav {
  height: 0;
  overflow: hidden;
  flex-grow: 1;
  background-color: #fff;
  left: 0;
  top: 80px;
  padding-inline: 5vw;
}

.num {
  top: -10px;
  left: 20px;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 50%;
  font-size: 8px;
}
/* navbar css */

/*hero section*/
.hero-section {
  height: 50vh;
  justify-content: space-between;
}
.hero-part1 {
  width: 5%;
  height: 100%;
}
.hero-part1 .herobgBox {
  width: 100%;
  height: 100%;
}
.hero-part1 img {
  height: 85%;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}

.hero-part2 {
  width: 100%;
  padding-inline: 4vw;
}
.heroHead {
  font-size: 24px;
}
/*hero section*/

/* latest card css */
.latest-card {
  flex-grow: 1;
  max-width: 400px;
}

.latest-card:hover a {
  color: blue;
}

.latest-card:hover .arrow-btn i {
  margin-left: 10px;
}

/* latest card css */

/* anim Cards css */
.animCards{
  margin:20px 0px;
}
.animCard {
  flex: 1 1 300px;
  max-width: 400px;
  overflow: hidden;
  
}

.animCard img {
  height: 100%;
}

.hidden-box {
  width: 100%;
  height: 100%;
  bottom: -100%;
  background: rgba(255, 255, 255, 0.7);
}

.hidden-box a {
  bottom: 30px;
  padding: 15px;
  position: absolute;
}

.animCard:hover .hidden-box {
  bottom: 0px;
}

/* anim Cards css */
